

<div>
  <footer class="footer">
      <div className="terms">
        <a href="#"> سياسة الخصوصية | </a>  <a href="#">  
            |  الشروط الأحكام </a>  <a href="#"> | الخصوصية و البنود </a>
      </div>
      <div>
        <p> جميع الحقوق محفوظة لفود فري 2023 </p>
      </div>
    </footer>
  </div>