<!-- views/post.ejs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home Page </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <style>
        body {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url("./images/back.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        }
        .jumbotron {
        margin-top: 10vw;
        
      } 
    </style>
</head>
<body>
  <Center>
            <div className="homepage">
              
                <div class="container">
                    <%- include('partials/navbar') %>
                    <div>
                        <div class="jumbotron">
                            <h1>مرحبا بكم في الموقع </h1>     
                            <h3>BackEnd</h3> 
                            <div class="gearbox">
                                <div class="overlay"></div>
                                  <div class="gear one">
                                    <div class="gear-inner">
                                      <div class="bar"></div>
                                      <div class="bar"></div>
                                      <div class="bar"></div>
                                    </div>
                                  </div>
                                  <div class="gear two">
                                    <div class="gear-inner">
                                      <div class="bar"></div>
                                      <div class="bar"></div>
                                        <div class="bar"></div>
                                    </div>
                                  </div>
                                  <div class="gear three">
                                    <div class="gear-inner">
                                      <div class="bar"></div>
                                      <div class="bar"></div>
                                      <div class="bar"></div>
                                    </div>
                                  </div>
                                  <div class="gear four large">
                                    <div class="gear-inner">
                                      <div class="bar"></div>
                                      <div class="bar"></div>
                                      <div class="bar"></div>
                                      <div class="bar"></div>
                                      <div class="bar"></div>
                                      <div class="bar"></div>
                                    </div>
                                  </div>
                                </div>
                              
                   
                        <hr>
                    </div>
                    <%- include('partials/footer') %>
                </div>
            </Center>
    </div>
</div>
</body>
</html>